/*                  ;+#+#@@@#+#@++#;;;:,,;;;.
				  :++##@@++####+;++##++;;::;;;
				 ++###+#####+#+;: :+####;    :;
			   +++######+'':+###############  ;.
			  +'####+' .::######:############: +
			 ++##+;+##'; :+##++###'##########:; +
		   '++###:'+'#'.##@@@#++'##;#########;+ ;
		  +'++++#..;';#####@#++'';.:########+ +: :
		 +';;@+++;:;.########''';:: #######+: +: ;
		+:;;.#+@++ . #######:;;::: :.:::.++   ;: ;
	   +..;:;+#++#+ '##############'::;''++ `. . ;
	######'  ##+###.'#############;+:;''++.. ;   ;
 .@@@#######;#+;++#::# ###########.++:':..   ..  :
@@@@@#######+ +;++@;:;+;####+; :.+++`.... : ;: . .
@@@@########++.':;;+; ;  ####+++:  ..... ;::  :;:              .-.
@@@#########+++ +;.#;    . .. ......: . ;: .:;.:;             /  .\
###########+++++++; #;  ... ..... :. : ;; ..;:; ;           .' .  .'.
##########+###++++.+.+::.  . ... :  : ;; ..;;:; .        .-'. .    . .-._
##################+ ..; ::: '  ..  ; ;;  ;;;.; ;       .' .L    . . . .  '.
####################++.; ::::.'':.: :;: ;;:;:;        /. E    .    .   . ..\
#####+++++###########++;..:;..::'.. ;: ;; ;;;        / .M . .     . .. . . .\
###++;+''++.######### ++++.+++.:++:.. ;; :;.        |. O  .      .  . . ... .\
#+++ ++++++++#########++: +.++++::++++: .; :       | . N     .       .  .  . .\
+.::;:+######+#########++:+ ++++++.::++++:         | . . .        .  . .  . ..|
 ; ;;:+############@### +:++++++++'.:::+++::       |   .           .   . .  ..|
 ;  :;.+##########@@@###+:+++++++++: .:::::::.     |. .   .        . ..   . ..|
'   .:  +###############+++++++;+++:: .::::::.     |.  .          .     .   ..|
	`.  `+#;############;'++++++++'::  ::::::.     | .  .          . . . . . .|
		   #;##########++::++++++::::  .:::::      |. .G  .      .. .   .  ...|
		   .#++########.+:::::::::::   :::::        \  R          .  . .  . ../
			##++++###++'::::::::::::  :::::         \  .I .      .  .  . ... |
			 ##:++++++ +::::::::::::  :::            \. .D   .   . .  .. . .'
			 ### .+++++::::::::::::  ::               \  ..      .. .  .. /
			  ####   .;:::'.:: :::: .:                 ':_ .  .  . ... _.'
			  `##### +:::'.;:..:.:  :.                    '-.. . .  .-'
			   ####:+:::':::: :::: : : 
			   ###'.'::': ;:  : : . :.:

	LEMONGRID v6 - created by Michael Cook 2013 - mykeself.com
	@license: http://opensource.org/licenses/MIT

// _______________________________________________________________________________ */


/*

// .grid {   --  Presume lemonGrid is initialised withing .grid { }



@function lemonGridOuterWidth($columns, $segment-width, $gutter-width, $edge-gutter-left: false, $edge-gutter-right: false, $edge-gutter-size: 1) {


	$grid-outer-width: $columns * $segment-width + ($columns - 1) * $gutter-width;
	
	// Add edge gutters to outer width
	@if $edge-gutter-left == true or $edge-gutter-right == true {
		$grid-outer-width: $columns * $segment-width + ($columns - 1) * $gutter-width + $gutter-width * $edge-gutter-size;
	}
	@if $edge-gutter-left == true and $edge-gutter-right == true {
		$grid-outer-width: $columns * $segment-width + ($columns - 1) * $gutter-width + $gutter-width * 2 * $edge-gutter-size;
	}


	@return $grid-outer-width;
}


@function lemonGridMainWidth($columns, $segment-width, $gutter-width) {
	$grid-width: $columns * $segment-width + ($columns - 1) * $gutter-width;

	@return $grid-width;
}
*/


@mixin LemonGridGen($columns, $segment-width, $gutter-width) {


	// ____ Variables ____ //


/*
	$grid-main-width: lemonGridMainWidth($columns, $segmentwidth, $gutter-width);




	overflow: hidden;
	//clear: both; // nested grids don't need clearing

	
	// .segment.grids next to each other don't need left margins
	//@if $edge-gutter-left == false {
		 .grid + .grid.segment {
			margin-left: 0;
		}
	//}

	

	&.grid--main {
		width: $grid-main-width + px;
		margin: 0 auto;
		float: none;
	}

	// ___________________ //
*/



section {
	display: block;
	float: left;
	width: 33.3%;

	padding: 0 10px 0; /* middle sections */
	box-sizing: border-box; *behavior: url(boxsizing.htc); /*ie7*/
}
section:first-child {
	padding: 0 20px 0 0; /* first section */
}

/* last section (keep seperate for ie8's sake) */
section + section.last-child {
	padding: 0 0 0 20px;
}
section + section:last-child {
	padding: 0 0 0 20px;
}


section + section.last-child * {
	background: #f58031!important;
}
section + section:last-child * {
	background: #f58031!important;
}


/*
	.segment {
		display: block;
		float: left;
		position: relative;
		clear: none;
		width: $segment-width + px;
		*clear: right; // fix ie7 25% bug
		margin-left: 0;

		z-index: auto;

		+ .segment {
			margin-left: $gutter-width + px;

			// override 1_1 (would be unecessary if specifying all fractions..)
			&.segment--1_1 { margin-left: 0; clear: both; }
		}


		

		> div {
			width: auto;
			overflow: hidden;
		}

	}
	a.segment {
		cursor: pointer;
	}


	// override edge gutters for grid--edgeless
	// Useful for fluid layouts with fixed width gutters (first child left)
	&.grid--edgeless {
		//max-width: $grid-outer-width + px;

		> div {
			padding: 0;
		}
	}


	// ____ Fractions ____ //

	.segment--1_1	{ width:100%; }

	.segment--1_2	{ width:50%; }

	.segment--1_3	{ width:33.333%; }
	.segment--2_3	{ width:66.666%; }

	.segment--1_4	{ width:25%; }
	.segment--3_4	{ width:75%; }

	.segment--1_5	{ width:20%; }
	.segment--2_5	{ width:40%; }
	.segment--3_5	{ width:60%; }
	.segment--4_5	{ width:80%; }

	.segment--1_6	{ width:16.666%; }
	.segment--5_6	{ width:83.333%; }

	.segment--1_8	{ width:12.5%; }
	.segment--3_8	{ width:37.5%; }
	.segment--5_8	{ width:62.5%; }
	.segment--7_8	{ width:87.5%; }

	.segment--1_10	{ width:10%; }
	.segment--3_10	{ width:30%; }
	.segment--7_10	{ width:70%; }
	.segment--9_10	{ width:90%; }

	.segment--1_12	{ width:8.333%; }
	.segment--5_12	{ width:41.666% }
	.segment--7_12	{ width:58.333%; }
	.segment--11_12	{ width:91.666%; }



	.segment {
	//&.grid--edgeless .segment + .segment {
		//&.segment--1_1,
		&.segment--1_2,
		&.segment--1_3,
		&.segment--2_3,
		&.segment--1_4,
		&.segment--3_4,
		&.segment--1_5,
		&.segment--2_5,
		&.segment--3_5,
		&.segment--4_5,
		&.segment--1_6,
		&.segment--5_6,
		&.segment--1_8,
		&.segment--3_8,
		&.segment--5_8,
		&.segment--7_8,
		&.segment--1_10,
		&.segment--3_10,
		&.segment--4_10,
		&.segment--7_10,
		&.segment--9_10,
		&.segment--1_12,
		&.segment--5_12,
		&.segment--7_12,
		&.segment--11_12 {
			margin-left: 0;

			// Trying to figure out scaling gutters for fractional segments


		}
	}
	// ___________________ //

	&.grid--internalgutters {

		> div {
			padding-right: $gutter-width + px;
		}

		// Trying to give fixed width gutters to fractional segments
		// Could specify fractional segments only, but not necessary for now (or for brevity)
		// although it also needs grid--edgeless to bleed out to the left, so that wouldn't 
		// work atall with internal gutters

		// - WHEN WE DROP IE7, this will be border-box internal padding

		> div > .segment { // not + .segment because they all need it
			> div {
				margin-left: $gutter-width + px;
			}
		}
		// override 1_1 (would be unecessary if specifying all fractions as noted above)
		> div > .segment--1_1 > div { margin-left: 0; }
	}





	// _____ Chunks ______ //

	.segment {

		@include segmentWidths($segment-width, $gutter-width);

	}

	// ___________________ //





	// _____ Gutters _____ //

	.segment {
		&.gutter-right {
			@include segmentWidths($segment-width, $gutter-width, $gutter-width);

			+ .segment {
				margin-left: 0;
			}
		}

		&.gutter-left {
			// shift left, then add right gutterworth as well
			@include segmentWidths($segment-width, $gutter-width, $gutter-width);
			margin-left: 0;
		}

		&.gutter-left.gutter-right {
			@include segmentWidths($segment-width, $gutter-width, $gutter-width * 2);
		}
	}


	// ___________________ //



	// ____ Push/Pull / Offset ____ //
	// Basically forcing margins before things
	// Overrides guttering ?
	// push would have to override right gutter
	// pull would have twice as much right margin (left margin on proceeding)

	// Only really useful for fluid sites - i.e. pushing a div to clear on a mobile site

	// ___________________ //




}


@mixin segmentWidths($segment-width, $gutter-width, $gutter-right: 0) {

	&.segment--1 {	width: $segment-width *  1 +  0 * $gutter-width + $gutter-right + px; }
	&.segment--1 {	width: $segment-width *  1 +  0 * $gutter-width + $gutter-right + px; }
	&.segment--2 {	width: $segment-width *  2 +  1 * $gutter-width + $gutter-right + px; }
	&.segment--3 {	width: $segment-width *  3 +  2 * $gutter-width + $gutter-right + px; }
	&.segment--4 {	width: $segment-width *  4 +  3 * $gutter-width + $gutter-right + px; }
	&.segment--5 {	width: $segment-width *  5 +  4 * $gutter-width + $gutter-right + px; }
	&.segment--6 {	width: $segment-width *  6 +  5 * $gutter-width + $gutter-right + px; }
	&.segment--7 {	width: $segment-width *  7 +  6 * $gutter-width + $gutter-right + px; }
	&.segment--8 {	width: $segment-width *  8 +  7 * $gutter-width + $gutter-right + px; }
	&.segment--9 {	width: $segment-width *  9 +  8 * $gutter-width + $gutter-right + px; }
	&.segment--10 {	width: $segment-width * 10 +  9 * $gutter-width + $gutter-right + px; }
	&.segment--11 {	width: $segment-width * 11 + 10 * $gutter-width + $gutter-right + px; }
	&.segment--12 {	width: $segment-width * 12 + 11 * $gutter-width + $gutter-right + px; }
}

*/