
.content .button,
.content button,
button,
.button {
	position: relative;
	display: block;
	float: left;
	overflow: visible;
	box-sizing: content-box; // default

	height: 40px;
	outline: none;
	padding: 0 25px;

	border: none;
	border-radius: 20px;
	background: url(../img/button.png) repeat-x 0 0;
	color: white;
	font-weight: 600;

	font-size: 16px;
	font-family: "Raleway";
	line-height: 40px;
	cursor: pointer; 

	-webkit-transition: opacity 0.1s ease-out;
	   -moz-transition: opacity 0.1s ease-out;
		 -o-transition: opacity 0.1s ease-out;
			transition: opacity 0.1s ease-out;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}


button:hover,
.button:hover {
	opacity: 0.7;
}

