@import 'lemonGrid';


// Generally sections will have fractional widths for fluid sites, 
// so the number of sections isn't too important.
$sections: 12;
$section-width: 80;
$gutter-width: 20;
$extra-outer-gutters: 0; // optional extra outer gutters lengths


.lemongrid {
	@include LemonGridGen($sections, $section-width, $gutter-width, $extra-outer-gutters);
	width: lemonGridWidth($sections, $section-width, $gutter-width, $extra-outer-gutters) + px;

	&.main {
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		padding: 0;
	}

	&.lemongrid--fluid {
		width: 100%;
		// Typical maximum width options:
		max-width: lemonGridWidth($sections, $section-width, $gutter-width, $extra-outer-gutters) + px;
		//max-width: 1024px - $gutter-width * ($extra-outer-gutters - 1);

		// nested fluid lemongrids have no padding atall
		.lemongrid--fluid section {
			padding: 0;
		}
	}
}


html, body, #wrapper {
	position: relative;
	overflow: hidden;

	margin: 0; 
	padding: 0;
	width: 100%;
	height: auto;

	// Fluid
	min-width: 1024px - $gutter-width * 2 - $extra-outer-gutters * $gutter-width * 2;

	// Fixed width
	//min-width: lemonGridWidth($sections, $section-width, $gutter-width, $extra-outer-gutters) + px;

	min-height: 100%;
}
html {
	overflow: auto;
	height: 100%;
}
