@import 'lemonGrid';
//@import 'lemonGridDebug';


// Generally sections will have fractional widths for fluid sites, 
// so the number of columns isn't too important.
$columns: 12;
$gutter-width: 10;
$segment-width: 68;
$outer-gutters: 3;


.lemongrid {
	@include LemonGridGen($columns, $segment-width, $gutter-width, $outer-gutters);
	width: lemonGridWidth($columns, $segment-width, $gutter-width, $outer-gutters) + px;

	&.main {
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		padding: 0;
		//width: contentWidth($columns, $segment-width, $gutter-width) + px;
	}


	&.lemongrid--fluid {
		width: 100%;
		// Typical maximum width options:
		//max-width: lemonGridWidth($columns, $segment-width, $gutter-width) + px;
		max-width: 1024px - $gutter-width * 2;

		// nested fluid lemongrids have no padding atall
		.lemongrid--fluid section {
			padding: 0;
		}
	}
}


html, body, #wrapper {
	position: relative;
	overflow: hidden;

	margin: 0; 
	padding: 0;
	width: 100%;
	height: auto;
	// Typical minimum width options:
	//min-width: 1024px - $gutter-width * 2;
	//min-width: lemonGridWidth($columns, $segment-width, $gutter-width, $outer-gutters) + px;
	min-width: 800px;
	min-height: 100%;
}
html {
	overflow: auto;
	height: 100%;
}
