
	// Debugging
	.lemongrid.lemongrid--debug {
		background: #F0FFCA!important;

		section {
			//text-align: center;
			background: #FFF473;
			+ section {
				background: #ef8930;
				+ section {
					background: #FFF473;
					+ section {
						background: #ef8930;
						+ section {
							background: #FFF473;
							+ section {
								background: #ef8930;
								+ section {
									background: #FFF473;
									+ section {
										background: #ef8930;
										+ section {
											background: #FFF473;
											+ section {
												background: #ef8930;
												+ section {
													background: #FFF473;
													+ section {
														background: #ef8930;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
		
	.debug--gaps section {
		margin-bottom: 20px;
	}
	.debug--text-center {
		text-align: center;
	}
	.grid--no-debug-gaps section {
		margin-bottom: 0;
	}
